reports/quantization/**/*.pt filter=lfs diff=lfs merge=lfs -text
reports/quantization/**/*.pth filter=lfs diff=lfs merge=lfs -text
model/semantic_guided_cgaf_*/**/*.pt filter=lfs diff=lfs merge=lfs -text
model/semantic_guided_cgaf_*/**/*.pth filter=lfs diff=lfs merge=lfs -text
model/semantic_guided_cgaf_*/**/*.onnx filter=lfs diff=lfs merge=lfs -text
reports/clip_training/**/*.pt filter=lfs diff=lfs merge=lfs -text
reports/clip_training/**/*.pth filter=lfs diff=lfs merge=lfs -text
reports/clip_training/**/*.onnx filter=lfs diff=lfs merge=lfs -text
reports/clip_training/**/*.onnx.data filter=lfs diff=lfs merge=lfs -text
model/*_lora/**/*.pt filter=lfs diff=lfs merge=lfs -text
model/*_lora/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
reports/onnx/**/*.onnx filter=lfs diff=lfs merge=lfs -text
reports/onnx/**/*.onnx.data filter=lfs diff=lfs merge=lfs -text
